
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Proxima Data Control, www.proximadata.io">
    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico" />
    <base href = "" />

    <title>My blog</title>

    <!-- Styles -->
    <link href="public/styles/lib//bootstrap.min.css" rel="stylesheet">
    <link href="public/styles/lib/fontawesome-all.css" rel="stylesheet">
    <link href="public/styles/site.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="public/js/lib/jquery-3.2.1.min.js"></script>
    <script src="public/js/lib/bootstrap.bundle.min.js"></script>
    <script src="public/js/lib/jquery-ui.min.js"></script>
    <script src="public/js/lib/angularjs/angular.min.js"></script>
    <script src="public/js/lib/angularjs/angular-resource.min.js"></script>
    <script src="public/js/lib/angularjs/angular-sanitize.min.js"></script>
    <script src="public/js/lib/moment-with-locales.min.js"></script>

</head>

<body class="theme-light">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img class="logo" src="public/images/logo.png"/>
        <a class="navbar-brand" href="#">My blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Enter generated script here -->
    <div class="row text-center">

        <!-- Remove code from here and insert your own -->
        <script src="https://www.proximadata.io/userapi/applogic/5ad6a7f53c277f00141b825c/type/angularjs/user/5a7b6f7fd35c400014ee0e86/code/"></script>
        <div id="proxima-data-app-5ad6a7f53c277f00141b825c-element" ng-controller="itemsData" 
            class="proxima-data-container-5ad6a7f53c277f00141b825c col-md-10 offset-md-1">
        <div ng-show="dataLoading" style="width: 100%; height: 30px; text-align: center;"><img src="https://www.proximadata.io/public/images/loader.gif" style="height: 30px;"/></div>
           <div ng-repeat="item in items" class="list-item">
                <div ng-repeat="field in fields" class="block-item {{generateClassName(field.name)}}">
                    <div ng-show="field.name != 'Title'" bind-html-compile="item[field.name].view" title="{{field.name}}"
                    ng-class="{'image-left': (field.name=='Cover image' && $parent.$index%2==0), 
                        'image-right': (field.name=='Cover image' && $parent.$index%2==1)}"></div>
                    <a ng-show="field.name == 'Title'" href="post/?id={{item._id}}">
                        {{item[field.name].value}}
                    </a>
                </div>
        <!--       <div title="Title" class="block-item {{generateClassName('Title')}}" bind-html-compile="item['Title'].view"></div>
               <div title="Cover image" class="block-item {{generateClassName('Cover image')}}" bind-html-compile="item['Cover image'].view"></div>
               <div title="Created" class="block-item {{generateClassName('Created')}}" bind-html-compile="item['Created'].view"></div>
               <div title="Content" class="block-item {{generateClassName('Content')}}" bind-html-compile="item['Content'].view"></div>
        -->   </div>
        
            <div class="text-center block-load-more" ng-show="pagingType=='loadmorebutton'">
                <button class="btn" ng-click="loadPageData()">Load more...</button>
            </div>
            <div ng-show="pagingData.pagingEnabled">
                <a href="{{pagePrevLink}}"  class="page-link page-prev" target="_parent" ng-class="{'link-disabled': !pagingData.prevPage}">Prev</a>
                <a href="{{basePageLink + pageNumber}}" class="page-link"  target="_parent" ng-class="{'link-disabled': (pageNumber == currentPage)}"  ng-repeat="pageNumber in pagesNumbers track by $index" >{{pageNumber}}</a>
                <a href="{{pageNextLink}}"  class="page-link page-next" target="_parent"  ng-class="{'link-disabled': !pagingData.nextPage}">Next</a>
            </div>
        </div>
        <!-- End of removing part -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5">
    <div class="container text-center container-social">
        <div class="social-link">
            <a href="www.twitter.com/account">
                <i class="fab fa-twitter twitter"></i>Twitter
            </a>
        </div>
        <div class="social-link">
            <a href="www.youtube.com/account">
                <i class="fab fa-youtube youtube"></i>Youtube channel
            </a>
        </div>
        <div class="social-link">
            <a href="www.instagram.com/account">
                <i class="fab fa-instagram instagram"></i>Instagram
            </a>
        </div>
        <div class="social-link">
            <a href="mailto:info@myemail.com">
                <i class="far fa-envelope email"></i>Email me
            </a>
        </div>
    </div>
    <div class="container text-center">
        <p class="m-0 text-center copyright">Copyright &copy; YOUR BRAND 2018</p>
    </div>
</footer>

</body>
</html>
